body{
background:black;
color:white;
}
.shapka{
	position:absolute;
	margin-left:-1%;
	margin-top:-1%;
}
.shapka1{
	position:absolute;
	margin-left:-1%;
	margin-top:51%;
}
.shapka2{
	position:absolute;
	margin-left:-1%;
	margin-top:103%;
}
.fon{
	position:absolute;
	margin-left:-1%;
	margin-top:-1%;
}
.scroll{
	overflow:hidden;
	height:3100px;
}
.vhod{
	position:absolute;
	margin-left:62%;
	margin-top:0%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.vhod:hover{
	background:Fuchsia;
}
.glav{
	position:absolute;
	margin-left:2%;
	margin-top:0%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.glav:hover{
	background:Fuchsia;
}
.kabinet{
	position:absolute;
	margin-left:22%;
	margin-top:0%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.kabinet:hover{
	background:Fuchsia;
}
.korzina{
	position:absolute;
	margin-left:42%;
	margin-top:0%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.korzina:hover{
	background:Fuchsia;
}
.loginv{
	position:absolute;
	margin-left:10%;
	margin-top:20%;
}
.passwordv{
	position:absolute;
	margin-left:10%;
	margin-top:23%;
}
.registr{
	position:absolute;
	margin-left:82%;
	margin-top:0%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.registr:hover{
	background:Fuchsia;
}
.podrob{
	position:absolute;
	margin-left:80%;
	margin-top:-65%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.podrob:hover{
	background:Fuchsia;
}
.podrob1{
	position:absolute;
	margin-left:80%;
	margin-top:-13%;
	width:300px;
	height:50px;
	color:black;
	background:Purple;
}
.podrob1:hover{
	background:Fuchsia;
}
.ramka{
	width:500px;
	height:300px;
	border:3px solid black;
	margin-left:-10%;
	margin-top:-30%;
}
.opis{
	position:absolute;
	font-size:30px;
	margin-top:-155%;
}
.opis1{
	position:absolute;
	font-size:30px;
	margin-top:-100%;
	margin-left:10%;
}
.opis2{
	position:absolute;
	margin-left:10%;
	margin-top:-50%;
	font-size:30px;
}
.deviz{
	position:absolute;
	font-size:30px;
	margin-top:-80%;
	margin-left:50%;
}
.logo{
	position:absolute;
	margin-left:30%;
	margin-top:-8%;
}
.link{
	position:absolute;
	margin-top:-7%;
	font-size:23px;
}
.link1{
	position:absolute;
	margin-top:-5%;
	font-size:23px;
}
.voiti{
	position:absolute;
	margin-left:3%;
	margin-top:-23%;
	width:150px;
	height:30px;
	color:black;
	background:Purple;
}
.voiti:hover{
	background:Fuchsia;
}
.reg{
	position:absolute;
	margin-left:3%;
	margin-top:-15%;
	width:150px;
	height:30px;
	color:black;
	background:Purple;
}
.reg:hover{
	background:Fuchsia;
}
.regr{
	position:absolute;
	margin-left:30%;
	margin-top:16%;
}
.regr1{
	position:absolute;
	margin-left:30%;
	margin-top:18%;
}
.regr2{
	position:absolute;
	margin-left:30%;
	margin-top:20%;
}
.regr3{
	position:absolute;
	margin-left:30%;
	margin-top:22%;
}
.regr4{
	position:absolute;
	margin-left:30%;
	margin-top:24%;
}
.regr5{
	position:absolute;
	margin-left:30%;
	margin-top:26%;
}
.regr6{
	position:absolute;
	margin-left:30%;
	margin-top:28%;
}
.ramar{
	position:absolute;
	border:3px solid black;
	margin-left:27%;
	margin-top:15%;
	width:680px;
	height:400px;
}
.conf{
	position:absolute;
	margin-left:40%;
	margin-top:16%;
	font-size:22px;
	color:black;
}
.avto{
	position:absolute;
	margin-left:10%;
	margin-top:17%;
	color:;
	font-size:30px;
}
.zareg{
	position:absolute;
	margin-left:30%;
	margin-top:30%;
	height:50px;
	width:150px;
	background:purple;
}
.zareg:hover{
	background:Fuchsia;
}
.spas{
	position:absolute;
	font-size:35px;
	margin-left:30%;
	margin-top:5%;
	color:black;
}
.spas1{
	position:absolute;
	font-size:20px;
	margin-left:32%;
	margin-top:8%;
	color:black;
}
.info{
	position:absolute;
	margin-top:5%;
	margin-left:5% ;
	font-size: 40px;
	color: black;
}
.kab{
	position: absolute;
	margin-top:8% ;
	margin-left:5% ;
	color: black;
	font-size: 20px;
}
.kab1{
	position: absolute;
	margin-top: 10%;
	margin-left: 5%;
	color: black;
	font-size: 20px;
}
.kab2{
	position: absolute;
	margin-top: 12%;
	margin-left:5% ;
	color: black;
	font-size: 20px;
}
.kab3{
	position: absolute;
	margin-top: 14%;
	margin-left:5% ;
	color: black;
	font-size: 20px;
}
.kab4{
	position: absolute;
	margin-top: 16%;
	margin-left:5% ;
	color: black;
	font-size: 20px;
}
.kat{
	position: absolute;
	margin-top:5% ;
	margin-left:2%;
}
.kat1{
	position: absolute;
	margin-top:5% ;
	margin-left:20% ;
	font-size: 25px;
}
.kat2{
	position: absolute;
	margin-top: 8%;
	margin-left: 20%;
	color:red;
	font-size:30px ;
}
.zakaz{
	position: absolute;
	margin-top:12% ;
	margin-left:20% ;
	width: 200px;
	height: 50px;
	background: rgb(7, 58, 7);
}
.zakaz:hover{
	background:rgb(75, 146, 53) ;
}    
.kat3{
	position: absolute;
	margin-top:5% ;
	margin-left:45%;
}
.kat4{
	position: absolute;
	margin-top:5% ;
	margin-left:62% ;
	font-size: 25px;
}
.kat5{
	position: absolute;
	margin-top: 8%;
	margin-left: 62%;
	color:red;
	font-size:30px ;
}
.zakaz1{
	position: absolute;
	margin-top:12% ;
	margin-left:62% ;
	width: 200px;
	height: 50px;
	background: rgb(7, 58, 7);
}
.zakaz1:hover{
	background:rgb(75, 146, 53) ;
}   
.inform{
	position:absolute ;
	font-size: 30px;
	color:black;
	margin-top:8% ;
	margin-left: 5%;
}
.zap{
	position: absolute;
	margin-top:13% ;
	margin-left: 15%;
}
.zap1{
	position: absolute;
	margin-top:15% ;
	margin-left: 15%;
}
.zap2{
	position: absolute;
	margin-top:17% ;
	margin-left: 15%;
}
.zap3{
	position: absolute;
	margin-top:19% ;
	margin-left: 15%;
}
.zap4{
	position: absolute;
	margin-top:21% ;
	margin-left: 15%;
}
.kab5{
	position: absolute;
	margin-top:18%;
	margin-left: 5%;
	color: black;
	font-size: 20px;
}
.kab6{
	position: absolute;
	margin-top:20%;
	margin-left: 5%;
	color: black;
	font-size: 20px;
}
.pobeda{
	position: absolute;
	margin-top:25% ;
	margin-left:10% ;
	width: 200px;
	height: 50px;
	background: rgb(7, 58, 7);
}
.pobeda:hover{
	background:rgb(75, 146, 53) ;
}   
.than{
	position:absolute;
	font-size: 30px;
	color:black;
	margin-top: 5%;
	margin-left: 5%;
}
.glava{
	position: absolute;
	margin-top:15% ;
	margin-left:40% ;
	width: 200px;
	height: 50px;
	background: rgb(7, 58, 7);
}
.glava:hover{
	background:rgb(75, 146, 53) ;
}   
.sovet{
	position: absolute;
	margin-top:10%;
	margin-left: 50%;
	color: black;
	font-size: 30px;
}
.uznat{
	position: absolute;
	margin-top:17% ;
	margin-left:60% ;
	width: 200px;
	height: 50px;
	background: rgb(7, 58, 7);
}
.uznat:hover{
	background:rgb(75, 146, 53) ;
}   
.primer{
	position: absolute;
	font-size: 30px;
	margin-top: 5%;
	margin-left: 78%;
}